* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
textarea {
  font-family: "Roboto", sans-serif;
}

header {
  background-color: lightgreen;
  color: darkgreen;
  padding: 16px;
}

header h1,
section h2,
section h3,
form button {
  font-family: "Bungee", sans-serif;
  font-weight: normal;
  font-size: 48px;
}

header nav li {
  display: inline;
  margin-left: 24px;
  font-size: 24px;
}

header nav li a {
  color: darkgreen;
  text-decoration: none;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.logo {
   height: 800px;
}